tr{
    border-color: chartreuse
}
.new{
    font-size: 20px;
    text-decoration: none;
    color:#fff;
    background-color: blue;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 2px;

}